{{#each blogs as |blog|}}
  {{log blog}}
  <section data-id="{{blog.id}}">
    <h2>{{blog.title}}</h2>
    <h4>Date:{{blog.date}}</h4>
    <h6>Blog ID:{{blog._id}}</h6>
    <p>
      {{#if blog.post}}
        {{blog.post}}
      {{else}}
        No content.
      {{/if}}
    </p>
    <button>Like</button>
    <hr>
  </section>

{{/each}}
